{% block password_widget %}
    {%- set type = type|default('password') -%}
    <div class="input-group input-group-sm">
        {{ block('form_widget_simple') }}
        <span class="input-group-btn">
            <a href="#" class="btn btn-default btn-flat"><i class="fa fa-clipboard"> Copy to clipboard</i></a>
            <a href="#" class="btn btn-default btn-flat"><i class="fa fa-eye"> View</i></a>
        </span>
    </div>
{% endblock %}