{% block text_widget %}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' passvault')|trim}) -%}
    <div class="input-group input-group-sm">
        {{ block('form_widget_simple') }}
        <span class="input-group-btn">
            <a href="#" class="btn btn-default btn-flat" data-bind="click{clipboard(#{{ form.vars.id }})}"><i class="fa fa-clipboard"> Copy to clipboard</i></a>
            <a href="#" class="btn btn-default btn-flat" data-bind="click{toggleClass(#{{ form.vars.id }},passvault)}"><i class="fa fa-eye"> View</i></a>
        </span>
    </div>
{% endblock %}