<p>Welcome {{ user.firstname }} {{ user.lastname }},</p>

<p>
    You password has been re-generated: {{ password }}.<br />
    You can follow this <a href="{{ url('passvault_user_login') }}">link</a> to connect.
</p>

<p>PassVault</p>
