{% if not node.id is null and is_granted('ROLE_ADMINISTRATOR', node) %}
    <div id="add-team-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('passvault_node_add_team', {'id': node.id}) }}" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Team</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label required" for="team_name">Node</label>
                            <input type="text" name="node" required="required" class="form-control" value="{{ node.name }}" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label class="control-label required" for="team_name">Team</label>
                            <select name="team" class="form-control">
                                {% for team in app.user.assocTeams %}
                                    <option value="{{ team.team.id }}">{{ team.team.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label required" for="team_name">Role</label>
                            <select name="role" class="form-control">
                                <option value="ROLE_ADMIN" selected="selected">teamuser.form.role.list.admin</option>
                                <option value="ROLE_CONTRIBUTOR">teamuser.form.role.list.contributor</option>
                                <option value="ROLE_READER">teamuser.form.role.list.reader</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}