{% form_theme form.users 'PassVaultPassBundle:Form:nodeuser.html.twig' %}

{% if not node.id is null %}
    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">User List</h3>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#add-user-modal">Add User</a>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="teamusers" class="table table-bordered table-hover dataTable" role="grid" data-bind="ready[datatables()]">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1" aria-sort="ascending">Lastname</th>
                        <th class="sorting_asc" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Firstname</th>
                        <th class="sorting" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Email</th>
                        <th class="sorting" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Role</th>
                        {% if is_granted('ROLE_ADMINISTRATOR', node) %}
                            <th class="sorting" tabindex="0" aria-controls="teamusers" rowspan="1" colspan="1">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {{ form_row(form.users) }}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}