{% if not node.id is null %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Password List</h3>
        </div>
        <div class="box-body">
            <table id="passwords" class="table table-bordered table-hover dataTable" role="grid" data-bind="ready[datatables()]">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1" aria-sort="ascending">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1">Link</th>
                        <th class="sorting" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1">Username</th>
                        <th class="sorting" tabindex="0" aria-controls="passwords" rowspan="1" colspan="1">Password</th>
                        <th rowspan="1" colspan="1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in node.children %}
                        {% if child is instanceof('\\PassVault\\PassBundle\\Entity\\Password') %}
                            <tr>
                                <td>{{ child.name }}</td>
                                <td>{{ child.link }}</td>
                                <td>{{ child.account }}</td>
                                <td>{{ child.password }}</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}