<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@fontawesome'
                '@bootstrap_css'
                '@adminlte_css'
                '@treegrid_css'
                '@passvault_css'
                '@datatables_css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyclass %}skin-blue sidebar-mini sidebar-collapse{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '@jquery'
                '@jqueryui'
                '@bootstrap_js'
                '@treegrid_js'
                '@jquerybind_js'
                '@entitymodal_js'
                '@datatables_js'
                '@datatables_js2'
                '@adminlte_js'
                '@passvault_js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>