<div class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="{{ path('passvault_homepage') }}">
                    <i class="fa fa-key"></i>
                    <span>Passwords</span>
                </a>
            </li>
        </ul>
    </div>
</div>