<div class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview {% if module is defined and module == 'search' %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-search"></i>
                    <span>Search</span>
                </a>
            </li>
            <li class="treeview {% if module is defined and module == 'vault' %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-key"></i>
                    <span>Vault</span>
                </a>
            </li>
            <li class="treeview {% if module is defined and module == 'teams' %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Teams</span>
                </a>
            </li>
            <li class="treeview {% if module is defined and module == 'users' %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                </a>
            </li>
        </ul>
    </div>
</div>