{% extends ':Layout:base.html.twig' %}

{% block bodyclass %}hold-transition login-page{% endblock %}

{% block body %}
    <div class="register-box">
        <div class="register-logo">
            Pass<b>Vault</b>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Generate a new password</p>
            <form method="post">
                <div class="form-group has-feedback">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <a href="{{ path('passvault_user_login') }}" class="text-center">Back to login page</a>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Generate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}